<!DOCTYPE html>
<html>
    <head>
        <title>semserve</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" crossorigin="anonymous">
    </head>
    <body>
        <div id="nav">
            <input type="text" id="query" />
            <input type="button" value="Load" id="search" onclick="search();" />
        </div>
        <div id="note"></div>
        <div id="links"></div>
        <script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js" crossorigin="anonymous"></script>
        <script src="/_static/mathtex-katex.js"></script>
        <script src="/_static/main.js"></script>
    </body>
</html>